<!doctype html>
<html lang="ca">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}CEFIRE FP{% endblock %}</title>
    <!-- Bootstrap CSS desde Cloudflare CDN -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      crossorigin="anonymous"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    >
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    >
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('inicio') }}">CEFIRE FP</a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('privado') }}">Ferramentes</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('registro') }}">Registra't</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
              </ul>
            </div>
          </ul>
        
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS (opcional) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
