<div class="row w-100 g-2">
  <div class="col">
    <button type="button" class="btn btn-primary btn-lg w-100" data-bs-toggle="modal"
      data-bs-target="#modalCreaCarpetaSDGFP">
      <i class="fa-regular fa-folder-open" style="font-size:2.5rem;" aria-hidden="true"></i><br>crea carpeta AAPP/PAA
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-secondary btn-lg w-100" aria-disabled="true" tabindex="-1"
      data-bs-toggle="modal" data-bs-target="#modalCreaDesignesSdgfp">
      <i class="fa-solid fa-file-invoice" style="font-size:2.5rem;" aria-hidden="true"></i><br>crea designa AAPP/PAA
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-light btn-lg w-100 border" aria-disabled="true" tabindex="-1"
      data-bs-toggle="modal" data-bs-target="#recordatoriModal">
      <i class="fa-solid fa-calendar" style="font-size:2.5rem;" aria-hidden="true"></i><br>Mail recordatori
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-success btn-lg w-100 border" aria-disabled="true" tabindex="-1"
      data-bs-toggle="modal" data-bs-target="#modalguacamoleLabel">
      <i class="fa-solid fa-seedling" style="font-size:2.5rem;" aria-hidden="true"></i><br>Guacamole
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-dark btn-lg w-100 border" aria-disabled="true" tabindex="-1"
      data-bs-toggle="modal" data-bs-target="#modalPerfil">
      <i class="fa-solid fa-book-open" style="font-size:2.5rem;" aria-hidden="true"></i><br>Perfil Gesform
    </button>
  </div>
</div>
<div>
  {% include 'modales/modal_crea_designes_sdgfp.html' %}
  {% include 'modales/recordatori.html' %}
  {% include 'modales/modal_crea_carpeta_sdgfp.html' %}
  {% include 'modales/modal_perfil.html' %}
  {% include 'modales/modal_guaca.html' %}
</div>